@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Play:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: UniSans;
  font-display: swap;
  src: url("../fonts/UniSans-Trial-Heavy.woff2") format("woff2"), url("../fonts/UniSans-Trial-Heavy.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.no-webp .header{
  background: url("../img/bg__header.jpg") top no-repeat; }

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.625rem;
}

.top-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column-logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.875rem;
          flex: 0 0 11.875rem;
  text-align: center;
  position: relative;
}

.top-header__logo-svg {
  position: absolute;
  top: -1.25rem;
  left: 1.09375rem;
  max-height: 10rem;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7.5rem 8.125rem 11.25rem;
  grid-template-columns: 7.5rem 8.125rem 11.25rem;
}

.menu__list li {
  margin: 0.125rem 0;
}

.menu__item {
  text-decoration: underline;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu__link {
  color: #fff;
  font-family: "Play";
  height: 1.6875rem;
  padding: 0.3125rem 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 1.25rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  white-space: nowrap;
}

.icon-menu {
  display: none;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0 1.875rem;
  border-right: 0.0625rem solid #fff;
}

.contacts-header__column:last-child {
  border: 0;
}

.contacts-header__label {
  font-size: 0.75rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0.4375rem;
  padding-top: 0.625rem;
  white-space: nowrap;
}

.contacts-header__phone {
  position: relative;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 900;
  white-space: nowrap;
}

.contacts-header__phone-svg {
  position: absolute;
  top: -0.5rem;
  left: -2.1875rem;
  width: 1.875rem;
  height: 1.875rem;
  fill: #fff;
  stroke: #fff;
}

.bottom-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 5.9375rem);
          flex: 0 1 calc(50% - 5.9375rem);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.375rem;
}

.actions-header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
}

.actions-header__login svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.actions-header__login span {
  border-bottom: 1px dotted #999999;
}

.actions-header__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5rem;
  color: #1ab9ce;
}

.actions-header__reg svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.actions-header__reg span {
  border-bottom: 1px dotted #1ab9ce;
}

.actions-header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5rem;
  color: #1ab9ce;
}

.actions-header__mail svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.actions-header__mail span {
  border-bottom: 1px solid #1ab9ce;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.info-header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1ab9ce;
  margin-right: 1.25rem;
  white-space: nowrap;
}

.info-header__callback svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.info-header__callback span {
  border-bottom: 1px dotted #1ab9ce;
}

.info-header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #000;
}

.info-header__schedule svg {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: -2.1875rem;
}

.info-header__cart {
  display: inline-block;
  background-color: #068292;
  border-radius: 50%;
  width: 2.6875rem;
  height: 2.6875rem;
  position: relative;
}

.info-header__cart svg {
  position: absolute;
  width: 1.625rem;
  height: 1.625rem;
  top: 18%;
  left: 18%;
  fill: #fff;
}

.info-header__cart span {
  position: absolute;
  top: 0;
  right: -0.9375rem;
  color: #fff;
  border-radius: 1.25rem;
  background-color: #f68038;
  line-height: 1.5625rem;
  padding: 0rem 0.6875rem;
  font-weight: 700;
}

@media (min-width: 61.99875em) {
  .menu__item:hover {
    text-decoration: none;
  }

  .menu__link:hover {
    background-color: #068292;
    text-decoration: none;
  }

  .contacts-header__label {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 75rem) {
  .info-header__cart span {
    -webkit-transform: translate(30%, 0);
        -ms-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}

@media (max-width: 76.25em) {
  .menu__list {
    -ms-grid-columns: 5.625rem 6.875rem 10rem;
    grid-template-columns: 5.625rem 6.875rem 10rem;
  }

  .menu__link {
    padding: 0.3125rem 0.625rem;
  }

  .contacts-header__column {
    padding: 0 0.9375rem;
  }

  .contacts-header__phone-svg {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  .contacts-header__phone {
    font-size: 1rem;
  }

  .actions-header {
    gap: 1.875rem;
  }

  .actions-header__login svg {
    margin-right: 0.375rem;
  }

  .actions-header__reg svg {
    margin-right: 0.375rem;
  }

  .info-header {
    gap: 1.5rem;
  }

  .info-header__callback svg {
    display: none;
    margin-right: 0rem;
  }

  .info-header__schedule svg {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .contacts-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 0.625rem;
    text-align: center;
  }

  .contacts-header__column {
    border: none;
  }

  .contacts-header__phone-svg {
    top: 0rem;
    left: -3.75rem;
    width: 3.125rem;
    height: 3.125rem;
  }

  .contacts-header__phone {
    font-size: 0.875rem;
  }

  .actions-header {
    gap: 0.9375rem;
  }

  .actions-header__login svg {
    display: none;
  }

  .actions-header__reg svg {
    display: none;
  }

  .actions-header__mail svg {
    display: none;
  }

  .info-header__schedule {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .no-webp .header{
    background: url("../img/bg__header.jpg") 0 0 no-repeat; }

  .top-header__column-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.125rem;
            flex: 0 0 8.125rem;
  }

  .top-header__logo-svg {
    top: -0.75rem;
  }

  .contacts-header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .contacts-header__phone-svg {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .contacts-header__label {
    display: none;
  }

  .contacts-header__phone-svg {
    display: block;
    top: -0.9375rem;
    left: -1.5625rem;
  }

  .contacts-header__phone {
    font-size: 0rem;
  }
}

.webp .header{ background: url(../img/bg__header.webp) top no-repeat; }

@media (max-width: 47.99875em){

  .webp .header{ background: url(../img/bg__header.webp) 0 0 no-repeat; }
}
